# --- Sayt (Vite) uchun ---
VITE_TMDB_API_KEY=93d114d30b2a031e836c086c86d2b853
VITE_TMDB_BASE_URL=https://api.themoviedb.org/3
VITE_TMDB_IMAGE_URL=https://image.tmdb.org/t/p

# --- Telegram bot uchun ---
# @BotFather dan olingan tokenni shu yerga qo'ying
TELEGRAM_BOT_TOKEN=8810310915:AAFM0I_jkxUsfsNkQDuiTChMzOQ1MXNGxLI
TMDB_API_KEY=93d114d30b2a031e836c086c86d2b853
TMDB_BASE_URL=https://api.themoviedb.org/3
TMDB_IMAGE_URL=https://image.tmdb.org/t/p

# Sayt internetga qo'yilgandan keyingi manzili (bot xabarga havola qo'shishi uchun)
SITE_URL=https://your-site-url.example.com
